.redStar {
  width: 14px;
  height: 34px;
  margin-right: 6px;
  color: rgba(255, 72, 72, 1);
  font-size: 24px;
}
:global {
  .am-input-label {
    font-size: 28px !important;
  }
  .am-list-content {
    font-size: 28px !important;
  }

  .am-input-control {
    font-size: 28px !important;
  }
  .am-list-extra {
    font-size: 28px !important;
  }
  .am-textarea-control textarea {
    font-size: 28px !important;
  }
}

.fixRadioStyle {

  :global {
    .ant-radio-inner {
      width: 40px;
      height: 40px;
    }

    .ant-radio-wrapper {
      font-size: 30px;
    }

    .ant-radio-inner::after {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      top: 6px;
      left: 6px;
    }
  }
}

.fixRadioVerticalStyle {
  margin-top: 20px;
  margin-left: 9px;
  padding: 21px;
  color: #000;
  font-size: 28px;

  .titleDiv {
    margin-bottom: 28px;
    color: #999;
    font-size: 24px;
  }
}
